<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Badcord</title>
    <link 
      rel="shortcut icon" 
      href="<%= image_url('logos/vector/isolated-monochrome-white.svg') %>"
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Social Media Image Preview %>
    <meta 
      prefix="og: http://ogp.me/ns#" 
      property="og:type" 
      content="website"
    />
    <meta 
      prefix="og: http://ogp.me/ns#" 
      property="og:title" 
      content="Badcord" 
    />
    <meta
      prefix="og: http://ogp.me/ns#" 
      property="og:image" 
      content="<%= image_url('gifs/badcord-preview.gif') %>"
    />
    <meta 
      prefix="og: http://ogp.me/ns#" 
      property="og:url" 
      content="https://badcord.herokuapp.com/" 
    />


    <%# Add CSS Animation Library %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180912387-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-180912387-1');
    </script>
    
    <%# Allow Ajax Calls %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <%# Add Accessibility to Images and Logos Globally %>
    <script type="text/javascript">
      window.logo_head_white = "<%= image_url('logos/vector/isolated-monochrome-white.svg') %>"
      window.login_signup_bg = "<%= image_url('splash/login_signup_bg.jpg') %>"
      window.mono_logo = "<%= image_url('logos/vector/default-monochrome-black.svg') %>"
      window.mono_white_logo = "<%= image_url('logos/vector/default-monochrome.svg') %>"
      window.android = "<%= image_url('splash/android.svg') %>"
      window.iphone = "<%= image_url('splash/iphone.svg') %>"
      window.controller = "<%= image_url('splash/controller.svg') %>"
      window.desktop = "<%= image_url('splash/desktop.svg') %>"
      window.laptop = "<%= image_url('splash/laptop.svg') %>"
      window.potion = "<%= image_url('splash/potion.svg') %>"
      window.disc = "<%= image_url('splash/disc.svg') %>"
      window.headphones = "<%= image_url('splash/headphones.svg') %>"
      window.mariobox = "<%= image_url('splash/mariobox.svg') %>"
      window.gamepak = "<%= image_url('splash/gamepak.svg') %>"
      window.bomb = "<%= image_url('splash/bomb.svg') %>"
      window.coin = "<%= image_url('splash/coin.svg') %>"
      window.triangle = "<%= image_url('splash/triangle.svg') %>"
      window.circle = "<%= image_url('splash/circle.svg') %>"
      window.circlefill = "<%= image_url('splash/circlefill.svg') %>"
      window.square = "<%= image_url('splash/square.svg') %>"
      window.x = "<%= image_url('splash/x.svg') %>"
      window.linkedin_qr = "<%= image_url('qr/session-qr.png') %>"
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
